@mixin font-style ($font-size, $font-weigth, $color) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: $font-weigth;
    font-size: $font-size;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: $color;
}