.footer {
    width: 100%;
    padding: 200px;
    background-color: black;
    
    display: grid;
    grid-template-columns: 1fr 980px;
    position: relative;

    h2 {
        @include font-style (88px, $secondaryColor);
    }

    .footer-input {

        .located {
            @include flex (space-between);
            h4 {
                @include font-style (30px, $secondaryColor);
                line-height: 130%;
            }
        }


        .start {

            .text {
                margin-bottom: 30px;
                @include flex (space-between);
                h4 {
                    @include font-style (30px, $secondaryColor);
                    line-height: 130%;
                }
            }
            p {
                @include font-style (20px, $secondaryColor);
                line-height: 150%;
            }
        }

        .how-much {
            @include flex (space-between);
            h4 {
                @include font-style (30px, $secondaryColor);
                line-height: 130%;
            }
        }

        .service {
            @include flex (space-between);
            h4 {
                @include font-style (30px, $secondaryColor);
                line-height: 130%;
            }
        }
    } 
    .line {
        width: 980px;
        height: 1px;
        border: 1px solid #404040;
        margin: 30px 0;
    } 
    
    .arrow-up {
        position: absolute;
        top: 800px;
        right: 50px;
    }
}