.header-section {
    .container {
        position: relative;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;

        .logo {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 30px; 
            color: $mainColor;
        }

        nav {
            display: flex;
            gap: 130px;
            ul {
                display: flex;
                gap: 40px;
                align-items: center;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: $greyColor;
                    }
                    .active {
                        color: $darkColor;
                    }
                }
            }

            .login-signup {
                display: flex;
                gap: 20px;
                align-items: center;

                a {
                    text-decoration: none;
                }
                .login {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: $greyColor;
                }
                .signup {
                    padding: 11px 10px;
                    background-color: $mainColor;
                    border-radius: 10px;

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #F8F8FA;
                }
            }
        }
    }
}

.text-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 130px 0 0 0;
    .text-container {

        .line-icon {
            margin: 30px 0 50px 0;
        }
        .header-title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 90px;
            color: $darkColor;
        }
        .header-paragraph {            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: $darkColor;
            margin-bottom: 50px;    
        }

        .header-buttons {
            display: flex;
            gap: 40px;

            button {
                @include btn;
                a {
                    text-decoration: none;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: $lightColor;
                }
            }
            .play-icon {
                display: flex;
                gap: 18px;
                align-items: center;
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: $darkColor;
                }
            }
        }
    }

    .img-container {
        img {
            position: absolute;
            right: 0;
        }
    }
}

.header-footer {
    padding: 130px 0 130px 0;
    h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: $darkColor;
        margin-bottom: 60px;
    }

    .icons-container {
        display: flex;
        justify-content: space-between;
        // .icon-container {
        //     display: flex;
        //     align-items: center;
        //     gap: 10px;
        // }
        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            color: $greyColor;
        }
    }
}