.plan-section {
    padding: 90px 0 0 0;

    .plan-title {
        h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 73px;
            text-align: center;
            color: $darkColor;
        }
        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: $greyColor;
            margin-bottom: 40px;
        }
        .btn-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 340px;
            padding: 7px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 67px;
            
            background: #FFFFFF;
            box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            .btn-monthly {
                padding: 13px 35px;
                background-color: $lightColor;
                text-decoration: none;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                color: $darkColor;
                border-radius: 10px;
            }
            .btn-yearly {
                padding: 13px 40px;
                background-color: $mainColor;
                text-decoration: none;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                color: $lightColor;
                border-radius: 10px;
            }
        }
    }
}

.plan-cards {
    display: flex;
    justify-content: space-between;
    .plan-card {
        width: 374px;
        padding: 40px 57px 9px;
        background: #FFFFFF;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
        border-radius: 20px;

        .cards-title {
            h6 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 36px;
                text-align: center;
                color: $darkColor;
                margin-bottom: 10px;
            }
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                text-align: center;
                color: $greyColor;
                margin-bottom: 39px;
            }
        }
        .price {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            line-height: 30px;
            color: $darkColor;
            text-align: center;
            position: relative;
            margin-bottom: 30px;

            span {                
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                color: #A6A6A6;
                position: absolute;
                top: -25px;
                right: 150px;        
            }
        }

        .plan-card-lists {
            padding: 26px 37px;
            width: 334px;
            background: #F9FAFB;
            border-radius: 10px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            .list {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 22px;
                .list-p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 30px;
                    color: $darkColor;
                    margin: 0;
                }
            }
            .list:last-child {
                margin: 0 0 27px 0;
            }

            .lists-btn {
                padding: 17px 65px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 30px;
                color: $mainColor;
                text-decoration: none;

                background: #FFFFFF;
                box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
                border-radius: 20px;
                
            }
        }
    }
    .center {
        background: #54BD95;
        
        .save-money-btn {
            text-decoration: none;
            padding: 13px 10px;
            background: #85DAB9;
            border-radius: 10px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 30px;
            color: $lightColor
        }
    }
}
