.pineapple-land {
    padding: 250px 167px 0 188px;
    min-height: 100vh;
    background-color: white;

    h3 {
        @include mainFont (60px, 80px, $primary);
        text-align: center;
        margin-bottom: 112px;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;

        .icons {
            display: flex;
            gap: 144px;
            align-items: center;
            justify-content: center;

            img {
                margin-bottom: 40px;
            }
            .icon {
                display: flex;
                flex-direction: column;
                align-items: center
            }  
            .private {
                img {
                    margin-bottom: 55px;
                }                
            }
            p {
                @include secondFont (18px, 27px, #263238);
                text-align: center;
            }
        }
    }
}