* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-logo {
    position: relative;

    top: 46px;
    left: 73px;
}

.container-navbar {
    position: absolute;
    display: flex;

    top: 66px;
    right: 110px;
}

.navbar-title {
    margin-right: 80px;
    font-size: 24px;
}

.container-title {
    position: relative;
    top: 170px;
    left: 84px;
}

.title-heading {
    font-weight: 500;
    font-size: 30px;
    line-height: 80px;
    width: 812px;
    margin-bottom: 12px;
}

.title-paragraf {
    width: 750px;
    color: #4D4D4D;

    font-size: 24px;
    line-height: 36px;
}

.container-button {
    position: relative;

    top: 67px;
    left: 200px;
}

.button {
    width: 328px;
    height: 90px;
    background: #007B0C;
    border-radius: 60px;
    font-size: 24px;
    color: #fff;
    border: none;
}

.container-image {
    position: absolute;
    top: 50px;
    right: 0;
}

.bg-image {
    position: relative;
    bottom: 150px;
}

.coffee-image {
    
}