* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
}

.road {
    width: 100%;
    height: 45px;
    background-color: black;
}

.car {
    width: 200px;
    animation-name: car_road;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes car_road {
    45% {
        transform: translateX(calc(100vw - 200px)) rotateY(0)
    }

    50% {
        transform: translateX(calc(100vw - 200px)) rotateY(180deg);
    }

    95% {
        transform: translateX(0) rotateY(180deg);
    }
}