@mixin btn-style ($background-color) {
    padding: 10px 24px;
    border-radius: 4px;
    background-color: $background-color;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

@mixin mini-btn-style($background-color, $color) {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $color;
    background: $background-color;
    border-radius: 60px;
    padding: 0 10px;
    width: 72px;
}